body,
html {
  min-height: 100%;
  max-height: 960%;
}

body {background-image: url(./3.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}


.top-header {
  width: 100%;
  max-width: 960%;
  font:6em "Amatic SC", cursive;
  color: #f0f0f0;
  background-color: #a2b5cd;
  text-shadow: 0px 0px 0 rgba(0,0,0,.2);
  margin: 0px auto;

}


a {
  color: #a2b5cd;
}

i {color: #ff69b4;
}

.heavy {
  opacity: 0.9;
}


.button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  border: 0;
  font-weight: 0px;
  font-family: Verdana;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  background: #7f7f7f;
  color: #fff;
  margin: 5px;
}

.button:hover,
.button:focus,
.button:active {
  background: #b7b6cd;
  color: #fff;
}


.class-name {
     text-align: center;
     border-radius: 6px;
     border: 0;
     padding: 12px 24px;
     font-weight: 5px;
     font-family: Verdana;
     letter-spacing: 0.3em;
     color: white;
     font-size: 12px;
     padding: 20px;
     border: 3px solid grey;
     background-size: cover;
     background-color: rgba(0,0,0,0.3);
     height: 500px;
     width: 500px;
     margin: auto;
     word-wrap: break-word;


 }

 .class-second {
      text-align: center;
      border-radius: 6px;
      border: 0;
      font-weight: 0.01px;
      font-family: Courier New, monospace;
      letter-spacing: 0.03em;
      color: white;
      font-size: 30px;
      padding: 70px;
      border: 3px solid grey;
      background-size: cover;
      background-color: rgba(0,0,0,0.3);
      height: 200x;
      width: 500px;
      margin: auto;

  }

  .class-third {
       text-align: center;
       border-radius: 6px;
       border: 0;
       font-weight: 0.01px;
       font-family: Courier New, monospace;
       letter-spacing: 0.1em;
       color: white;
       font-size: 100px;
       padding: 70px;
       border: 3px solid grey;
       background-size: cover;
       background-color: rgba(0,0,0,0.3);
       height: 200x;
       width: 500px;
       margin: auto;
     }
